@use "../settings/settings.config" as *;
@use "../tools/tools.media-queries" as *;

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    margin: 0;
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
} /* To remove the scrollbars */

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
