/**
 ** FONTS
*/
$defaultFontSize: 16px;

/**
 ** SHADOWS
*/
$boxShadow: 0px 4px 32px rgba(0, 0, 0, 0.3);

/**
 ** BREAKPOINTS
*/
$breakpoints: (
    mobile: 380px,
    tablet: 740px,
    desktop: 980px,
    wide: 1300px,
);

/**
 ** CUSTOM PROPERTIES
*/

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
